.box__led{
  border: $boder_led;
  margin: 7px 0;
  text-align: center;
  line-height: 50px;
  font-size: 28px;
  background-color: tomato;
  color: white;
  padding: 0;
}

.play{
  min-height: 600px;
}
