<% include header %>
<div class="container">
    <div class="row box">
          <div class="col btn-led s12 m2 box__led">1</div>
          <div class="col btn-led s12 m2 box__led">2</div>
          <div class="col btn-led s12 m2 box__led">3</div>
          <div class="col btn-led s12 m2 box__led">4</div>
          <div class="col btn-led s12 m2 box__led">5</div>
          <div class="col btn-led s12 m2 box__led">6</div>
    </div>
    <div class="row play">
         <div class="col s12 m6">
            <div class="progress">
                  <div class="determinate" ></div>
            </div>
        </div>
        <div class="col hide s12 m6 play">
           <a class="btn-floating btn-large waves-effect waves-light red play__btn"><i class="material-icons">add</i></a>
        </div>
    </div>
</div>
<% include footer %>

