<% include ../partials/header %>
<div class="container">
    <div class="row box">
          <div class="col btn-led s12 m1 box__led">1</div>
          <div class="col btn-led s12 m1 box__led">2</div>
          <div class="col btn-led s12 m1 box__led">3</div>
          <div class="col btn-led s12 m1 box__led">4</div>
          <div class="col btn-led s12 m1 box__led">5</div>
          <div class="col btn-led s12 m1 box__led">6</div>
          <div class="col btn-led s12 m1 box__led">7</div>
          <div class="col btn-led s12 m1 box__led">8</div>
    </div>
    <div class="row play">
        <div class="col hide s6 m6 play ">
            <p>Left:<span></span></p>
           <a class="btn-left btn-floating btn-large waves-effect waves-light red play__btn"><i class="material-icons">add</i></a>
        </div>
        <div class="col hide s6 m6 play ">
            <p>Right:<span></span></p>
           <a class="btn-right btn-floating btn-large waves-effect waves-light red play__btn"><i class="material-icons">add</i></a>
        </div>
    </div>
</div>
<% include ../partials/footer %>

