@import "materialize/materialize";

$color: red;
$color-hover: green;

nav{
  li{
    a{
      color: $color;
      cursor: pointer;
      &:hover{
        color: $color-hover;
      }
    }
  }
}

body{ color: $color; }
